/* Estilo para la barra superior */
.barraSuperior {
    height: 60px; /* Altura deseada */
    background-color: #333; /* Color de fondo */
    display: flex;
    align-items: center; /* Centra verticalmente la imagen */
    padding: 0 20px; /* Espacio interno */
    position: fixed; /* Barra superior fija */
    top: 0; /* Alineación en la parte superior */
    left: 0;
    right: 0;
    z-index: 2; /* Asegura que la barra superior esté por encima de la barra lateral */
}

.barraSuperior img {
    height: 30px; /* Tamaño del logo pequeño */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

/* Estilo para el texto "BIENVENIDO MARCO!" */
.titulo {
    color: white;
    font-size: 18px;
}

/* Ajusta la posición de la barra lateral */
.barraLateral {
    width: 200px; /* Ancho de la barra lateral */
    height: calc(100% - 60px); /* Altura ajustada para que no se superponga con la barra superior */
    background-color: #333; /* Color de fondo */
    position: fixed; /* Barra lateral fija */
    top: 60px; /* Alineación debajo de la barra superior */
    left: 0;
    padding-top: 20px; /* Espacio superior para evitar que el contenido se superponga */
    padding-bottom: 20px; /* Espacio inferior */
    overflow: hidden; /* Evita que el contenido exceda el área de la barra lateral */
    z-index: 1; /* Asegura que la barra lateral esté detrás de la barra superior */
}




/* Estilo para el menú de navegación */
nav ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none; /* Elimina el subrayado del enlace */
    display: block; /* Hace que los enlaces ocupen todo el espacio disponible */
}

/* Cambia el color del enlace al pasar el mouse */
nav ul li a:hover {
    background-color: #555;
}

/* Estilo para la opción "Cerrar Sesión" */
.cerrarSesion {
    position: absolute; /* Posicionamiento absoluto */
    bottom: 20px; /* Alineación en la esquina inferior */
    left: 10px; /* Alineación a la izquierda */
    color: white;
}
